<div class="row-fluid">
    <div class="hero-unit">
    	<h1> Checkout - First Step </h1>
    	<h2> Payment Informations </h2>
		
    	<%= form_tag '/checkout/submit',class:'form-horizontal' do %>
    	<div class="control-group">
    	  <%= label_tag(:shipping_info, "Where should I ship?:",class:'control-label') %>
    	  <div class="controls">
		  <%= text_field_tag(:shipping_info) %>
		  <%= submit_tag("Checkout",class:'btn') %>
		  </div>
		</div>
    	<% end %>     
    </div>
</div>




